.main
  .main-visual
    .content
      %p.content__title
        nyaotube
      = link_to user_session_path, class: 'content__rogin-button' do
        %button.content__rogin
          %i.fas.fa-caret-right
          ログイン
      = link_to new_user_registration_path, class: 'content__rogin-button' do
        %button.content__rogin
          %i.fas.fa-caret-right
          新規登録はこちらから